signer-service-schemas/trunk/sdc/modules/intsvc/src/main/resources/schemas/se/vgregion/sd/signerservice/SignatureVerificationRequest_1.0.xsd

<?xml version="1.0"?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://signera.vgregion.se/signature/1/"
  xmlns="http://signera.vgregion.se/signature/1/"
  elementFormDefault="qualified"
  version="1.0">

  <xs:include schemaLocation="SignatureFormat_1.0.xsd"/>

  <xs:element name="signatureVerificationRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="signatureFormat" type="signatureFormat" minOccurs="0" maxOccurs="1" />
        <xs:element name="signature" type="xs:string" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>